.container {
    width: 800px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    color: #AAA;
}

.blueText {
    color: #00BBFF;
}

.btn:enabled .on-btn-disabled {
    display: none;
}

.btn:disabled .on-btn-enabled {
    display: none;
}

#readme-container > * {
    position: absolute;
    width: 770px;
}

#readme-container #current-repo {
    z-index: 0;
}

#readme-container #next-repo {
    display: none;
    opacity: 0;
    z-index: 1;
}

.panel-heading {
    text-align: left;
}

.panel-heading a {
    color: black;
}

.panel-body {
    text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}