html {
    overflow-y: scroll;
}

.container {
    width: 800px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    color: #AAA;
}

.blueText {
    color: #0088FF;
}

.form-control {
    box-shadow: none;
}

#rand-btn {
    font-family: "Open Sans";
    border: solid 1px #0088FF;
    border-radius: 4px;
    background-color: #0088FF;
    cursor: pointer;
}

.btn:enabled .on-btn-disabled {
    display: none;
}

.btn:disabled .on-btn-enabled {
    display: none;
}

#readme-container > * {
    width: 770px;
}

#readme-container #current-repo {
    z-index: 0;
    position: static;
    margin: auto;
}

#readme-container #next-repo {
    display: none;
    opacity: 0;
    z-index: 1;
    position: absolute;
}

/* Override the text color for the readme */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: #333;
}

.panel-heading {
    text-align: left;
}

.panel-heading a {
    color: black;
}

.panel-body {
    text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 768px;
    }
    
    #readme-container > * {
        width: 738px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    
    #readme-container > * {
        width: 100%;
    }
}