#container {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#langSelect {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    border-color: #0088FF;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

h1 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    color: #AAA;
}

h4 {
    font-weight: normal;
    color: #CCC;
}

a {
    text-decoration: none;
    color: #00BBFF;
}

.blueText {
    color: #00BBFF;
}

.smallText {
    font-size: 0.7em;
}

.button {
    background-color: #0088FF;
    color: #FFFFFF;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}