.container {
    width: 800px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    color: #AAA;
}

.blueText {
    color: #00BBFF;
}

.panel-heading {
    text-align: left;
    font-size: 1.2em;
}

.panel-heading a {
    color: black;
}